@tailwind base;
@tailwind components;
@tailwind utilities;

.greenBg{
    background: #27ff59;
}

.textWhite{
    color: azure !important;
}

*::-webkit-scrollbar{
    width: 7px;
    background: #909090;
}

*::-webkit-scrollbar-thumb{
    background: #000f40;
}

.spin-overlay{
    animation: spinOverlay 5s;
}

@keyframes spinOverlay {
    from {
        transform: rotateZ('0deg');
        top: 150px;
    }
    to {
        top: 0px;
        transform: rotateZ('360deg');
    }
}